{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <h1>Test technique Sellermania &#8211; Pricing</h1>

        <a href="{{ path('products_list') }}">Liste des produits</a>
    </div>
{% endblock %}

{% block title %}
    Pricing
{% endblock %}

