{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">

        <!-- Game infos -->
        <h1>{{ game.name }}</h1>
        <div class="game-infos">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th scope="row">Développé par</th>
                    <td>{{ game.developedBy }}</td>
                </tr>
                <tr>
                    <th scope="row">Édité par</th>
                    <td>{{ game.publishedBy }}</td>
                </tr>
                <tr>
                    <th scope="row">Année</th>
                    <td>{{ game.year }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Pricing form -->
        {{ form_start(productForm) }}
        {{ form_row(productForm.state) }}
        {{ form_row(productForm.floorPrice) }}

        <button type="submit" class="btn btn-primary">Calculer</button>
        {{ form_end(productForm) }}

        <!-- Estimated price -->
        {% if price is not null %}
            <div class="price">
                {% set comp = price|keys[0] %}
                {% if comp == 'lt' %}
                    <
                {% elseif comp == 'gt' %}
                    >
                {% endif %}
                {{ price[comp]|format_currency('EUR') }}

            </div>
        {% endif %}

        <!-- Competitors products list -->
        {% if competitorsProducts is not empty %}
            {% include 'product/competitors-products-list.html.twig' with {'products': competitorsProducts} %}
        {% else %}
            Pas de produit concurrent
        {% endif %}
    </div>

{% endblock %}

{% block title %}
    {{ game.name }}
{% endblock %}

