<!-- Competitors products list -->

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">État</th>
        <th scope="col">Vendeur</th>
        <th scope="col">Prix de vente</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr class="level-{{ product.state.level }}">
            <td>{{ product.state.label }}</td>
            <td>{{ product.seller.name }}</td>
            <td>{{ product.price }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
