{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <h1>Liste des produits</h1>

        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Jeu</th>
                <th scope="col">État</th>
                <th scope="col">Prix plancher</th>
            </tr>
            </thead>
            <tbody>

            {% for product in products %}
                <tr class="level-{{ product.state.level }}" data-game-link="{{ path('game', {game: product.game.id}) }}">
                    <td>{{ product.game.name }}</td>
                    <td>{{ product.state.label }}</td>
                    <td>{{ product.floorPrice }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}

{% block title %}
    Liste des produits
{% endblock %}

