@import "~bootstrap/scss/bootstrap";

$color-level-0: #daa520;
$color-level-1: #ffdead;
$color-level-2: #ffffe0;
$color-level-3: #affcaf;
$color-level-4: #00ff7f;

.content {
    width: 60%;
    margin: 50px auto;
    padding: 25px;
    border: #909090 solid 1px;
    border-radius: 10px;
}

.game-infos {
    margin-bottom: 30px;
}

.price {
    margin-bottom: 30px;
    padding: 5px;

    border: #909090 solid 1px;
    border-radius: 0.25rem;
    background: #cccccc;

    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

/* Form */

button {
    margin: 10px 0 !important;
    width: 100%;
}

.col-form-label {
    padding-top: 0 !important;
}

/* States' colors */
.level-0 {
    background: $color-level-0;
}

.level-1 {
    background: $color-level-1;
}

.level-2 {
    background: $color-level-2;
}

.level-3 {
    background: $color-level-3;
}

.level-4 {
    background: $color-level-4;
}
